html { 
  background: url(images/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;

}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  font-weight: 100;
}

h2 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.6em;
  font-weight: 300;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #CCC;
}

.box {
  background-color: rgba(0, 0, 0, 0.6);
  width: 45%;
  margin: 100px auto;
  padding: 15px 25px;
  text-align: center;
}